.read-row {
    border-bottom : 2px dotted #e6e5e5;
    margin : 5px 0;
}

.auction-label {
    font-size : 18px;
    font-weight : 700;
    border-right : 2px solid #e6e5e5;
    border-left : 2px solid #e6e5e5;
    text-align : center;
}

.auction-value {
    font-size : 18px;
    border-right : 2px solid #e6e5e5;
    border-left : 2px solid #e6e5e5;
}

.auction-content {
    min-height : 100px !important;
    font-size : 16px !important;
}

.play-container {
    margin-top : 40px;
}

.selected-tab {
    font-weight : 700;
    color: #ff5800 !important;
}

.tab {
    border-right : 2px solid #e6e5e5;
    border-left : 2px solid #e6e5e5;
    text-align : center;
    font-size : 25px;
    color : #7a7c82;
}

.tab-row {
    border-bottom : 2px solid #e6e5e5;
    margin-top : 5px;
    margin-bottom : 20px;
}

.curr_price {
    margin-top : 15px;
    font-size : 25px !important;
    font-weight : 700 !important;
    text-align : center !important;
}

.curr-auc {
    background-color: #dcdee0;
    text-align: center;
    padding: 20px;
    padding-bottom : 40px;
    margin-top : 20px;
    margin-bottom : 20px;
    border: #7a7c88 3px solid;
    border-radius: 4px;
    color : black;
}

.curr-auc-label {
    font-size : 40px;
    font-weight: 700;
    color : red;
    margin-bottom : 25px;
}